---
---
<div class="bg-vcdarkgreen w-full h-24">
  <div class="p-6 text-auto text-bbgreenyellow font-vcpoppins"><span class="font-bold">Book</span><br/><span class="font-black text-bblightyellow">borrower</span></div>
  <slot />
</div>